body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0; 
}

/*hader stuff here*/
header {
    background-color: #F2AEB4;
    padding: 1rem 2%; 
}
header h1 {
     color: #FFFFFF;
     margin: 0;
}
header p {
     color: #FFFFFF;
     margin: 0;
    letter-spacing: -.75px;
}
/*nav stuff goes here*/
nav {
    background-color: #F2F2F2; 
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #595959;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #595959;
        color:#F2AEB4;
}
nav a:hover {
    color: #F2D0D0;
}

/* stuff for the main */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #F2AEB4;
        
    
}
main h2 {
    color: #595959;
    margin-bottom: .2rem;    
}
main p {
    color: #595959;
    margin: 0 0 .3rem 0;    
}
main ol { 
    padding: .5rem 3vw;
    background-color: #F2F2F2
}
main dl dt { 
    color: #F2AEB4;
    font-weight: 700;
}
main dl dd {
    color: #595959;
    font-size:.9rem;
}
main ul {
    list-style-type: circle;
}
main ul li { 
    line-height: 125%;
    margin-bottom: .5rem
}
main address {
    font-style: normal;
    color: #595959;
    background-color: #F2AEB4;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #595959;
    border-radius: .5rem;
}

main a {
    color: #595959;
}
main a:hover {
    color: #F2D0D0;
}

/* stuff for the footer */
footer { 
        background-color: #F2F2F2;
        text-align: center;
        color: #595959;
        padding: 1rem 0;
        font-size: .8rem;
}
footer a {
        color: #595959;
}